.DS_Store
.RData
.Renviron
.Rhistory
.Rproj.user
.Ruserdata
.httr-oauth
*.dbf
*.doc*
*.gddoc
*.gdsheet
*.gpkg
*.html
*.mdb
*.shp*
*.shx
*.xls*
*_files
docs
libs
output
renv/library
*.RDS
development/zzz_local_data/
development/inst/
development/data/
data-exclude/
.vscode/

